h1 {
  color: #70757a;
  font-size: 24px;
  font-weight: 400;
  font-weight: 28px;
  margin-bottom: 0;
  margin-top: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #70757a;
  font-size: 16px;
  font-weight: 300;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid rgba(253, 215, 206, 0.548);
  border-radius: 8px;
  background: rgba(253, 215, 206, 0.548);
}

.sunset-sunrise {
  color: #70757a;
  font-size: 16px;
  font-weight: 300;
}

.sunrise {
  font-weight: 400;
}

.previously-searched {
  color: rgb(255, 158, 130);
  font-size: 14px;
  font-weight: 300;
}

.previously-searched-city {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.weather-temp {
  margin-bottom: 10px;
}

.weather-temp img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temp strong {
  font-size: 62px;
  line-height: 1;
  font-weight: 400;
}

.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.temperature {
  color: #70757a;
}

.farenheit-link {
  text-decoration: none;
}

.overview {
  margin-bottom: 20px;
}

.coded-by {
  color: black;
  font-size: 14px;
  font-weight: 300;
}

.github-link {
  text-decoration: none;
}
